<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %> 
	<body>
		 <%- include('composants/entete') %>
		 <%- include('composants/form_post') %>
		 <%- include('composants/adr') %>
		 <%- include('composants/footer') %>
		 <form action="/ajouter" method="POST">
				 <input type="text" placeholder="nom" name="nom">
				 <input type="text" placeholder="prenom" name="prenom">
				 <input type="text" placeholder="Telephone" name="telephone">
				 <input type="text" placeholder="couriel" name="couriel">
				 <button type="submit">Submit</button>
			</form>
		 <table class="tableau">
		 	
			 <% let noLigne=0 %>
			<% for(elm of adresses){%>
			
		<% 	if (noLigne==0){%>
		 			<tr>
		 				<%noLigne++%>
					 	<% for ( p in elm ) { %>
						 <td><%= p %></td>
						 <% } %>
					 </tr>
			<% } %>


			 <tr>
			 	<% for ( p in elm ) { %>
				 <td><%= elm[p] %></td>
				 <% } %>
			 </tr>
			 <% } %>
		 </table>
	</body>
</html>